<template>
  <div>
      <VentasMensuales />
  </div>
</template>

<script>
import VentasMensuales from './VentasMensuales.vue';

export default {
  components: {
      VentasMensuales
  }
}
</script>
