<template>
    <div>
        <vue-good-table
            :columns="columns"
            :rows="ventas"
            :paginate="true"
            :lineNumbers="true"
            :defaultSortBy="{ field: 'mes', type: 'asc' }"
            :search-options="{ enabled: true }"
            :pagination-options="paginationOptions">
            <!-- Paginación -->
            <template slot="table-actions">
                <pagination :pagination="paginationOptions" @on-page-change="updateTable"></pagination>
            </template>
        </vue-good-table>
    </div>
</template>

<script>
import axios from 'axios';
import { VueGoodTable } from 'vue-good-table';
import 'vue-good-table/dist/vue-good-table.css';

export default {
    data() {
        return {
            ventas: [],
            columns: [
                {
                    label: 'Mes',
                    field: 'mes'
                },
                {
                    label: 'Producto',
                    field: 'producto'
                },
                {
                    label: 'Región',
                    field: 'region'
                },
                {
                    label: 'Ventas Mensuales',
                    field: 'ventas_mensuales',
                    type: 'number'
                }
            ],
            
            paginationOptions: {
                enabled: true,
                mode: 'records',
                perPage: 10,
                nextLabel: 'Siguiente',
                prevLabel: 'Anterior',
                rowsPerPageLabel: 'Filas por página',
                ofLabel: 'de',
                pageLabel: 'página',
                currentPage: 1
            }
        };
    },
    components: {
        VueGoodTable
    },
    created() {
        this.fetchData();
    },
    methods: {
        async fetchData() {
            try {
                const response = await axios.get('https://cloud-run-pruebafif-fn5wzosxeq-uc.a.run.app/api/ventas-mensuales');
                this.ventas = response.data;
            } catch (error) {
                console.error("Error al obtener los datos:", error);
            }
        },
        updateTable(newPage) {
            this.paginationOptions.currentPage = newPage;
        }
    }
}
</script>
